<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <link rel="stylesheet" href="/views/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body> 
    <header>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Лицей №3</a>
            
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Главная страница</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/homework">Домашние задание</a>
                </li>
                <% if(userId){ %>
                  <li class="nav-item active">
                    <a class="" href="/cab">Личный кабинет</a>
                  </li>
                  <% } %>
                <% if(!userId){ %> 
                <li class="nav-item">
                  <a class="btn btn-outline-primary" href="/auth" style="text-align: right;">Вход для учителей</a>
                </li>
                <% }else{ %>
                  <li class="nav-item">
                    <a class="btn btn-outline-primary" href="/logout" style="margin-left:900%;">Выйти</a>
                  </li>
                  <% } %>

                </ul>
          </nav>
  