<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{margin-top:0px;margin-left: 0px;margin-right: 0px;}
        header{height: 100px;background-color: beige;}
        h1{text-align: center;padding-top:25px;}
        body{background-color: burlywood;}
    </style>
</head>
<body>
    <header>
        <h1>ERROR 404!</h1>
    </header>
    <content>
        <h2>Перейти на <a href="/">главную</a></h2>
    </content>
</body>
</html>