<% include block/header.ejs %>
<style>
.nav-bar{margin: auto auto; margin-top: 7%; width:35%}
.nav-bar-result{margin: auto auto; margin-top: 1%; width: 35%;}
a{text-decoration: none};
body{margin-top:60px}
@media screen and (max-width: 720px){
  .nav-bar{margin-top: 45%; width: 80%; margin-left: 10%; margin-right: 10%;}
  .nav-bar-result{width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 1%;}
}
</style>
</header>
<content>
  <div class="nav-bar">
    <form action="" method="POST">
      <input type="date" name="Check_date" id="Check-date" placeholder="Дата" class="form-control" required>
      <input type="text" name="Check_class" id="Check-class" placeholder="Номер класса" class="form-control" required>
      <input type="text" name="Check_class_word" id="heck-class-word" placeholder="Буква класса" class="form-control" required>
      <input type="submit" class="btn btn-lg btn-block btn-primary" value="Найти">
    </form>
  </div>
  <div class="nav-bar-result">
    <form method="GET">
      <div class="form-control">
      <%if(homeworkView){%>
        <% homeworkView.forEach(elem => { %>
          <p class="form-control"><%=elem.status %> | (<%=elem.teacher %>): <%= elem.homework %></p>
        <% }); %>
      <%}%>
      </div>
    </form>
  </div>

</content>
</body>