<% include block/header.ejs %>
<style>
    .reg{margin:15% auto; width: 50%; border: 1px solid rgba(92, 143, 201, 0.103); border-radius: 3px; padding: 1% 1%;}
@media (max-width:720px){
    .reg{margin-top: 45%; width: 80%; margin-left: 10%; margin-right: 10%;}
}

</style>
<form method="POST">
<div class="reg">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name='email' required autofocus="">
    <input type="password" id="inputEmail" class="form-control" placeholder="password" name='password' required autofocus="">
    <input type="text" id="inputEmail" class="form-control" placeholder="ФИО" name='name' required autofocus="">
    <input type="text" id="inputEmail" class="form-control" placeholder="status 1/0" name='status' required autofocus="">
    <input type="text" id="inputEmail" class="form-control" placeholder="Должность" name='com' required autofocus="">
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 1%;">Зарегистрировать пользователя</button>
</div>
</form>